config.yml
.DS_Store
test.sqlite3
public/icons/*.png
doc/*
gems/*
cache/*
bin/*
specifications/*
vendor/*
log
tmp

/vendor/cache/dm-mysql-adapter-1.1.0.gem
/vendor/cache/do_mysql-0.10.3-java.gem
/vendor/cache/do_mysql-0.10.3.gem
/vendor/cache/rmagick-2.13.1.gem