<section id="scoreboard-wrapper">
	<div id="scoreboard">				
		<h1>We Figure</h1>
		<h5 class="tagline">We Figure is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi</a> platform.</h5>
	</div>
</section>

<div id="splash">
	<section>
		<div id="home-page" style="width: 700px; background: #f7f3ee; margin: 0 auto; border-left: 8px #f1eae1 solid; border-right: 8px #f1eae1 solid; padding: 8px;">
			<div style="margin-top: 130px; padding: 8px;"></div>
			
			<div style="margin-top: 50px;"></div>
		</div>
	</section>

	<footer>
		<p class="right">MapAttack is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi</a> platform.</p>
		<p class="left">Credits: <a href="http://aaronparecki.com">Aaron Parecki</a> // <a href="http://caseorganic.com">Amber Case</a> // <a href="http://kyledrake.net">Kyle Drake</a> // <a href="http://patrickarlt.com/">Patrick Arlt</a></p>
	</footer>
</div>
