	<div id="wrapper">

		<section id="scoreboard-wrapper">
			<div id="scoreboard">				
				<h1><a href="/map" target="_top">WeFigured!</a></h1>
				<h5 class="tagline"><span id="num-players"></span> <span id="city">Seattle, Washington</span></h5>
				<!-- <a href="" id="join-game" class="button">Join Game</a> -->
			</div>
		</section>

		<div id="map"></div>

		<nav id="top-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="http://geoloqi.com">Get Geoloqi</a></li>
			</ul>
		</nav>

		<footer>
			<p class="right">WeFigured is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi</a> platform. <a href="http://geoloqi.com" style="float: right; margin-top: 3px; margin-left: 3px;"><img src="/img/loqi-16px.png" width="16" height="16" /></a></p>
			<p class="left">Credits: <a href="http://aaronparecki.com">Aaron Parecki</a> // <a href="http://caseorganic.com">Amber Case</a> // <a href="http://kyledrake.net">Kyle Drake</a> // <a href="http://patrickarlt.com/">Patrick Arlt</a></p>
		</footer>
    
      </div> <!-- wrapper -->
