
	<div class="container">
		
		<div class="span-22 last" id="header-content">
			<div style="float:left;">
				<a href="#/" class="company-title">WeFigured</a>
			</div>
			<nav style="float:left;">
				<div id="nav-container">
					<ul id="navlist">
						<li><a class="normal" href="#/">Home</a></li>
						<li><a class="normal" href="#/about-us">About Us</a></li>
						<li><a class="normal" href="#/contact-us">Contact</a></li>						
					</ul>
				</div>
			</nav>

		</div>
		
		<!--Main Section-->
		<section class="span-22 last" id="main-section">
			<!--Content-->
			<div id="content" class="last">
				<div id="home">
					<h3 class="title">Team Up! Have Fun! Win Prizes!</h3>
					
					<img src="/img/wefigured-front.png" style="border: #333 3px solid;"/>
					<p>
					</p>
					
					<!-- clearfix --><div style="clear:both;"></div>
				</div>
				<div id="about-us">
					<h3 class="title">Features of TurboCRM</h3>

					<p>
					</p>

					<!--Clearfix--><div style="clear:both;"></div>
				</div>
				<div id="contact-us">
					<h3 class="title">Contact Us</h3>
					<table id="contact-table">
						<tr>
							<td width="200px">
								<img src="img/email-icon.png" width="128" height="128" alt="Email Icon">
							</td>
							<td>
								<h3 class="large"><a href="mailto:info@wefigured.com">info@wefigured.com</a></h3>
							</td>
						</tr>
						<tr>
							<td width="200px">
								<img src="img/Twitter-black.png" width="128" height="128" alt="Twitter Black">
							</td>
							<td>
								<h3 class="large"><a href="http://twitter.com/#!/wefigured">@wefigured</a></h3>
							</td>
						</tr>
					</table>
				</div>
			</div>	
		</section>
		
		<!-- clearfix --><div style="clear:both;" class="last"></div>
				
		<!--Footer-->
		<footer class="span-22 push-1 last" style="margin-top:-20px;">
			<div class="span-10 copy">Some footer junk</div>
			<!-- clearfix -->
			<div style="clear:both;" class="last"></div>
		</footer>
		
	</div>